<a href="https://colab.research.google.com/github/KavyaSmruthi694/ICP-1/blob/main/BDA_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"

a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())

print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [7]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [15]:
def first_word(words):

    sorted_words = sorted(words)
    first = sorted_words[0]
    return first

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrube']
result = first_word(students)
print(result)

Bartholomew

In [17]:
class Employee:
    employee_count = 0
    salary_list = []

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.employee_count += 1
        Employee.salary_list.append(salary)

    def average_salary(cls):
        if cls.salary_list:
            return sum(cls.salary_list) / len(cls.salary_list)
        return 0

    average_salary = classmethod(average_salary)


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department):
        super().__init__(name, family, salary, department)

emp1 = Employee("John", "Smith", 40000, "Marketing")
emp2 = Employee("Kanye", "Thompson", 50000, "Finance")
femp1 = FulltimeEmployee("Steve", "Brown", 60000, "Accounting")

print(f"Total Employees: {Employee.employee_count}")
print(f"Average Salary: {Employee.average_salary():.2f}")

print(f"Fulltime Employee: {femp1.name}, {femp1.department}")

Total Employees: 3
Average Salary: 50000.00
Fulltime Employee: Steve, Accounting