<a href="https://colab.research.google.com/github/KavyaSmruthi694/ICP-1/blob/main/Kavyasmruthi_BDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
s=input()
s=s[:4] # removing 2 letters
print(s[::-1]) # reversing the string

python
htyp

In [2]:
i=input()
print(i.replace("python","pythons")) # replace 1st string with the 2nd one

i love python
i love pythons

In [4]:
m=int(input())
if m>=90:
  g='A'
elif m>=80:
  g='B'
elif m>=70:
  g='C'
elif m>=60:
  g='D'
else:
  g='F'
print(g)

85
B

In [5]:
x=[23,'python',23.98]
print([type(y) for y in x]) # this works as a for loop and iterates every item and shows its type

[<class 'int'>, <class 'str'>, <class 'float'>]

In [9]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

len(IT_companies) # length of the set

IT_companies.add('Twitter') # add twitter to the set
print(IT_companies)

IT_companies = IT_companies|{'TCS','Accenture'}
print(IT_companies)

IT_companies.remove('TCS')
print(IT_companies)

{'Facebook', 'Amazon', 'Oracle', 'Google', 'IBM', 'Apple', 'Twitter', 'Microsoft'}
{'Amazon', 'Accenture', 'Twitter', 'Microsoft', 'Facebook', 'Oracle', 'Google', 'IBM', 'Apple', 'TCS'}
{'Amazon', 'Accenture', 'Twitter', 'Microsoft', 'Facebook', 'Oracle', 'Google', 'IBM', 'Apple'}

The remove method will give a keyword error if there is no item present in the set, the discard item wont give an error

In [10]:
Join =A|B # I is same as union or join
print(Join)

{19, 20, 22, 24, 25, 26, 27, 28}

In [11]:
intersection = A&B
print(intersection)

{19, 20, 22, 24, 25, 26}

In [12]:
print(A.issubset(B)) #to get if A is subset of B

True

In [13]:
print(A.isdisjoint(B)) # to get to know if A and B are disjoint

False

In [14]:
JoinAB = A|B
print(JoinAB)
JoinBA = B|A
print(JoinBA)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
print(A.symmetric_difference(B)) # symmetric difference or you can ues ^ symbol

{27, 28}

In [16]:
del A,B

In [17]:
print(A,B) # throws an error

NameError: name 'A' is not defined

In [19]:
aset=set(age)
print(aset)
print(len(age)==len(aset)) # will be false as the set wont have duplicate values that the actual set might have

{19, 22, 24, 25, 26}
False